
server:
  port: 8888
spring:
  application:
    name: configserver
  cloud:
    config:
      name: configserver
      discovery:
        enabled: true
      server:
        # encrypt.enabled should moved to bootstrap.yml
        # encrypt.enabled: false
        git:
          uri: https://github.com/ironpublic/spring_cloud_config/
          searchPaths: license, organization
          username: ironpublic
          password: wsxEDC680!