management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  application:
    name: gateway
  port: 5555

  #Setting logging levels
logging:
  level:
    root: info
    com:
      ms:
        gateway: debug

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

spring:
  cloud:
    gateway:
      routes:
        - id: license
          uri: lb://license
          predicates:
            - Path=/**
          filters:
            - TrackingFilter